@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
}

.container {    
    text-align: center;
    padding: 1em;     
}

.card {
    width: 18em;
    padding: 1em;    
    border-radius: 1em;
    background-color: hsl(0, 0%, 100%);
}

.card-img {
    border-radius: 0.5em;
    max-width: 100%;
}

.card-title {
    color: hsl(218, 44%, 22%);
    padding: 0.3em 0.2em;
    margin: 0.7em 0 0 0;
    font-size: 1.35em;

}

.card-text {
    font-size: 0.938em;
    font-weight: 400;
    padding: 0.5em 1em;
    margin: 0 0 1em 0;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 0.688px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}